.primary {
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    @apply bg-white text-gray-800 hover:bg-gray-300  border-gray-800;
}
.success {
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    @apply bg-zinc-600 text-white hover:bg-gray-300  border-gray-800;
}

.danger {
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    @apply bg-white text-gray-800 hover:bg-gray-300 hover:border-gray-300  border-white shadow;
}

.disabled {
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    @apply bg-white text-gray-800 border-gray-800 opacity-50 cursor-not-allowed;
}
